<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hummingbird - Thank you</title>
  </head>
  <body>
    <img src="/logo.png" id="logo" />
    <h1>Thank You!</h1>
    <p>We've added your email address to the signup queue.</p>
    <h2>There are <%= user.position %> people ahead of you</h2>
    <p>This resrvation is held for <%= user.email %></p>
  </body>
</html>
