<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome to Hummingbird</title>
  </head>
  <body>
    <img src="logo.png" alt="" />
    <h1>Hummingbird</h1>
    <p>
      The world's first $0 commission app. <br />Stop paying $10 for every
      trade.
    </p>
    <form action="/register" method="post">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter Email Address"
      />
      <button>Get Early Access</button>
    </form>
  </body>
</html>
