<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/home.css" />
    <title>Welcome to Hummingbird</title>
  </head>
  <body>
    <video playsinline autoplay muted loop id="bgvideo">
      <source src="/bgvideo.mp4" type="video/mp4" />
    </video>
    <main>
      <section id="hero">
        <img src="logo.png" alt="" />
        <h1>Hummingbird</h1>
        <p>
          The world's first $0 commission app. <br />Stop paying $10 for every
          trade.
        </p>
        <form action="/register" method="post">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Email Address"
            required
          />
          <button>Get Early Access</button>
        </form>
        <!-- render a paragraph containing error feedback -->
        <% if(locals.error) { %>
        <p id="error"><%= error %></p>
        <% }%>
      </section>
    </main>
  </body>
</html>
